<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
         <listener class-name="com.mindtree.utilities.Listeners"/> 
         <listener class-name="com.mindtree.utilities.ExtentReporterNG"/>
 </listeners>
  <test thread-count="5" name="Test1">
    <classes>
      <class name="com.mindtree.pageobject.AllOfPage"/>
      </classes>
      </test>
      
     <test thread-count="5" name="Test2">
       <classes>
      <class name="com.mindtree.pageobject.CorporatePage"/>
       </classes>
        </test>
        
         <test thread-count="5" name="Test3">
        <classes>
      <class name="com.mindtree.pageobject.Gifts"/>
       </classes>
        </test>
        
         <test thread-count="5" name="Test4">
        <classes>
      <class name="com.mindtree.pageobject.HoverEffect"/>
       </classes>
        </test> 
        
         <test thread-count="5" name="Test5">
        <classes>
      <class name="com.mindtree.pageobject.LifeStylePage"/>
       </classes>
        </test>
        
         <test thread-count="5" name="Test6">
        <classes>
      <class name="com.mindtree.pageobject.PersonilizedGifts"/>
       </classes>
        </test>
        
           <test thread-count="5" name="Test7">
        <classes>
      <class name="com.mindtree.pageobject.SearchPage"/>
       </classes>
        </test>
        
          <test thread-count="5" name="Test8">
        <classes>
      <class name="com.mindtree.pageobject.SignInPage"/>
       </classes>
       </test>
       
         <test thread-count="5" name="Test9">
        <classes>
      <class name="com.mindtree.pageobject.TrackOrderPage"/>
       </classes>
       </test>
       
       <test thread-count="5" name="Test10">
        <classes>
      <class name="com.mindtree.pageobject.GiftCard"/>
       </classes>
        </test>
        
          <test thread-count="5" name="Test11">
        <classes>
      <class name="com.mindtree.pageobject.ReadMorePage"/>
       </classes>
        
        
        
     
     
  </test> <!-- Test -->
</suite> <!-- Suite -->
